<div class="container">
<div class="row">
<div class="span3">
<h2>Filter</h2>
<%= render 'bignewsform' %>

<h4>Frequency Count Stats</h4>
<b>Mean:</b><br><%= @meanfreq %><br><br>
<b>Median:</b><br><%= @medianfreq %><br><br>
<b>Mode:</b><br><%= @modefreq %><br><br>
<b>Standard Deviation:</b><br><%= @standarddevfreq %><br><br>


<h4>Word Count Stats</h4>
<br>

<b>Mean:</b><br><%= @mean %><br><br>
<b>Median:</b><br><%= @median %><br><br>
<b>Mode:</b><br><%= @mode %><br><br>
<b>Standard Deviation:</b><br><%= @standarddev %><br><br>

<h4>Big Word Frequency Stats</h4>
<br>

<b>Mean:</b><br><%= @meanfreqbw %><br><br>
<b>Median:</b><br><%= @medianfreqbw %><br><br>
<b>Mode:</b><br><%= @modefreqbw %><br><br>
<b>Standard Deviation:</b><br><%= @standarddevfreqbw %><br><br>

<h4>Big Words</h4>
<%= @bigwords %>
</div>
<div class="span8 offset1">
<h2>Big News Brah</h2>	
<%= render 'sortednews' %>
</div>
</div>
</div>



