
<br><br> <h1 style="font-size: 24px; color: gray;">Navigation</h1>

<%= link_to 'Add a Source', new_source_path %>
 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%= link_to 'Update and process feeds', updatefeeds_path %>
 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="/updatefeeds.csv">Download All Feed Items To CSV</a>
 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
 <%= link_to 'View Sources', sources_path %>
 <br><br>

<br><br> <h1 style="font-size: 24px; color: gray;">Recent News</h1>

<% @feeditems.each do |item| %>
<br><br>
<a href="<%= item.url %>" class="feedlink"><%= item.title %></a><br>
<div class="feedpublished">
  <%= 
  unless item.published.nil?
  time_ago_in_words(item.published) 
  end
  %> ago</div> | 
<div class="feedsource"><%= item.feedsource %></div>
<br><br>

<% end %>