<div class="row">
<div class="span3">
<h4>Pull Big News Items:</h4><br><br>

<%= render 'bignewsform' %>
</div>

<div class="span6 offset1">
<h1 style="font-size: 24px; color: gray;">Recent News</h1>
<% @feeditems.each do |item| %>

<a href="<%= item.url %>" class="feedlink"><%= item.title %></a><br>
<div class="feedpublished">
  <%= 
  unless item.published.nil?
  time_ago_in_words(item.published) 
  end
  %> ago</div> | 
<div class="feedsource"><%= item.feedsource %></div>
<br><br>

<% end %>
</div>
</div>

