
<% require "feedzirra" %> 

<h1 style="font-size: 24px; color: gray;">News Sources to Pull</h1>

<table>
  <tr>
    <th style="width: 200px; text-align: left;">Name</th>
    <th style="width: 600px; text-align: left;">RSS Feed Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= source.name %></td>
    <td><%= source.rss %></td>
    <!-- <td><%= link_to 'Show', source %></td> -->
    <td>&nbsp;&nbsp;<%= link_to 'Edit', edit_source_path(source) %></td>
    <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a Source', new_source_path, class:"btn" %>


<br><br> <h1 style="font-size: 24px; color: gray;">Recent News</h1>

<% @feeditems.each do |item| %>
<br><br>
<a href="<%= item.url %>" class="feedlink"><%= item.title %></a><br>
<br><br>

<% end %>



