



<p><%= @timestart.strftime("%B %d, %Y") %><p>
<p>Cobiased<p>
<p>About | Feedback <p>
<p><% @bignewsgroup.each do |news| %>
<% @count = news.feed_items.count %>
<% if @count > @min %>
	<b>Title:</b> <a href="/story/<%= news.id %>"><%= news.title %></a><br>
	</a><b>Created:</b> <%= news.created_at.in_time_zone(Time.zone) %><br>
	<b>Count:</b> <%= @count %> sources<br>
	<b>Description:</b><br>
	<b>ImageURL:</b>
	<br><br>
<% end %>
<% end %>
