<div class="container" style ="padding-top:15px">
<% i = 1 %>
<% @bigs.each do |big| %>
	<% feed = FeedItem.where(:id => big.bestfeed).first %>
	<b><span style="font-size:22px"><%= i %>)</span></b><br>
	 <a href="/story/<%= big.id %>"><%= feed.title %></a><br>
	<%= big.created_at.in_time_zone(Time.zone).strftime("%B %d, %Y, %l:%M %p %Z") %><br>
	<%= big.feed_items.count %> sources reported<br>
	<%= feed.desc %><br>
	<img src="<%= feed.imageurl %>" class="desaturate" width="200px">
	<br><br>
	<% i = i + 1 %>

<% end %>
</div>
<a href="/"><%= image_tag("cheetah.png", :alt => "cheetah", :height => 150, :width => 360, :class => "desaturate") %></a><br><br>


