<div class="container" style ="padding-top:15px">
<% i = 1 %>
<% @bigs.each do |big| %>
	
	<b><span style="font-size:22px"><%= i %>)</span></b><br> <a href="/story/<%= big.id %>"><%= big.title %></a><br>
	<%= big.created_at.in_time_zone(Time.zone).strftime("%B %d, %Y, %l:%M %p %Z") %><br>
	<%= big.feed_items.count %> sources reported<br>
	<br><br>
	<% i = i + 1 %>

<% end %>
</div>
<%= image_tag("cheetah.png", :alt => "cheetah", :height => 150, :width => 360) %><br><br>
