<%= puts "starting" %>

	<div id="collapse" class="panel-collapse collapse">
fdsadf
	</div>



<div class="container">
<h3><b>Cobiased</b></h3>
About | Feedback<br><br>

<% time_subtract = 0 %>

<% while time_subtract <= @home_feed_days_total do %>
<% startdate = Time.now - time_subtract.days %>
<% enddate = startdate - 1.days %>



<p><b><%= startdate.strftime("%B %d, %Y") %></b></p>

<% @bignews = @bignewsgroup.includes(:feed_items).where(:created_at => enddate...startdate).sort_by{|t| t.breakingdate }.reverse %>



<% @bignews.each do |news| %>
<% if news.feed_items.count > @min %>
<a href="<%= news.feed_items.first.url %>" style="color:blue"><%= news.title %></a> mentioned in <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= news.id %>"><%= news.feed_items.count %> sources.</a>
<div id="collapse<%= news.id %>" class="panel-collapse collapse">
<% news.feed_items.all.each do |story| %>
<a href="<%= story.url %>" style="color:blue; padding-left:15px"><%= story.title %></a> - <%= story.feedsource %><br>
<% end %>
<br>
</div>
<% end %>



<% end %>

<% time_subtract = time_subtract + 1 %>
<br>
<% end %>


</div>


