<!-- header -->

<div class="container" style="padding-top: 20px">
<%= render 'header' %>
</div>

<!-- first story -->
<% big = @bigs[0] %>
<div class="container" style="padding-top: 20px">
	<div class="col-md-6">
	<a href="/story/<%= big.id %>"><%= image_tag(big.imageurl, :width => "100%", :class => "lead_image") %></a>
	
	<br><br>
	</div>

	<div class="col-md-6">
	<div class="lead-title"><b><a href="/story/<%= big.id %>"><%= big.title %></a></b></div>
	<div class="lead-mentions">Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="lead-description"><%= big.description %></div>
</div>


<!-- Stories 2 - 10 -->
<div class="clearfix"></div>
<% i = 1 %>
<% big = @bigs[1..10].each do |big| %>

<div class = "col-md-6" style="padding-top:30px">
<div class="visible-xs visible-sm">
<a href="/story/<%= big.id %>"><%= image_tag(big.imageurl, :width => "100%") %></a><br><br>
</div>
	<div class="story-title">
	<b><a href="/story/<%= big.id %>"><%= big.title %></a></b>
	</div>
	<div class="story-mentions">
	Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="story-description">
		<div class="hidden-xs hidden-sm"><a href="/story/<%= big.id %>"><img src="<%= big.imageurl %>" width="100%" align="left" style="padding-right: 10px; padding-bottom:10px"></a></div>
	<%= big.description %>
	</div>
<div class="visible-xs">
<br><br>
</div>
</div>
<% if [2, 4, 6, 8].include? i %>
<div class="clearfix"></div>
<% end %>
<% i = i + 1 %>
<% end %>

<div class="container" style="padding-top: 20px">
<%= render 'footer' %>
</div>
