<!-- header -->
<div class="container" style="padding-top: 20px">
<%= render 'header' %>
</div>

<!-- first story -->
<% big = @bigs[0] %>
<% feed = FeedItem.where(:id => big.bestfeed).first %>
<div class="container" style="padding-top: 40px">
	<div class="col-md-6">
	<a href="/"><%= image_tag(feed.imageurl, :width => "100%", :class => "desaturate lead_image") %></a><br><br>
	</div>

	<div class="col-md-6">
	<div class="lead-title"><b><a href="/story/<%= big.id %>"><%= feed.title %></a></b></div>
	<div class="lead-mentions">Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="lead-description"><%= feed.desc %></div>
</div>

<!-- Stories 2 - 10 -->
<div class="clearfix"></div>
<% big = @bigs[1..6].each do |big| %>
<% feed = FeedItem.where(:id => big.bestfeed).first %>
<div class = "col-md-6" style="padding-top:30px">
	<div class="story-title">
	<b><a href="/story/<%= big.id %>"><%= feed.title %></a></b>
	</div>
	<div class="story-mentions">
	Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="story-description">
	<%= feed.desc %>
	</div>
</div>
<% end %>
<div class="clearfix"></div>
<% big = @bigs[7..9].each do |big| %>
<% feed = FeedItem.where(:id => big.bestfeed).first %>
<div class = "col-md-4" style="padding-top:30px">
	<div class="story-title">
	<b><a href="/story/<%= big.id %>"><%= feed.title %></a></b>
	</div>
	<div class="story-mentions">
	Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="story-description">
	<%= feed.desc %>
	</div>
</div>
<% end %>

