<!-- header -->
<div class="container" style="padding-top: 20px">
<%= render 'header' %>
</div>
<div class="col-md-4">

<% @bigstory.feed_items.each do |feed| %>
<% unless feed.imageurl.nil? %>
<div class="col-md-6">
<img src="<%= feed.imageurl %>" width="100%">
</div>
<% end %>
<% end %>
</div>

<div class="container" style="padding-top:20px">
<div class="row">

<div class="col-md-8">
	<p style="font-size:26px;letter-spacing:-1px;color:black;"><b><%= @bigstory.title %></b></p>
	<p style="font-size: 20px;">Mentioned in <%= @bigstory.feed_items.count %> news sources. </p>
					<br>


					<% unless @bigstory.breakingdate == nil or @bigstory.latestdate == nil %>					
					<% @bigstory.feed_items.each do |item| %>
					<div style="padding-bottom:10px;">
					<a href="<%= item.url %>" style="padding-bottom: 20px"><%= item.title %></a>
					<span style="font-size: 11px; color: gray; padding-top: 20px"><%= item.feedsource %></span>	<br>
					<span style="font-size: 11px; color: gray; padding-top: 20px"><%= item.desc %></span>
					<br>
				</div>
					<% end %>
					<% end %>

</div>
