<!-- header -->
<div class="container" style="padding-top: 20px">
<%= render 'header' %>
</div>

<% big = @big %>
<div class="container" style="padding-top: 20px">
	<div class="col-md-6">
	<%= image_tag(big.imageurl, :width => "100%", :class => "lead_image") %>
	
	<br><br>
	</div>

	<div class="col-md-6">
	<div class="lead-title"><b><%= big.title %></b></div>
	<div class="lead-mentions">Mentioned in <%= big.feed_items.count %> news outlets
	</div>
	<div class="lead-description"><%= big.description %></div>
	
</div>
</div>
	
<div class="clearfix" style="padding-top:20px">
<div class="container">
<% big.feed_items.each do |feed| %>
<% source = Source.where(:id => feed.sourceid).first %>
<div class="col-md-4">
<div class="col-md-4">
<%= image_tag("comingsoon.jpg", :alt => "cheetah", :height => 70) %>	
</div>
<div class="col-md-8 linklist">
<a href="<%= feed.url %>"><%= feed.title %></a>
</div>
</div>
<% end %>
</div>
</div>
</div>
