<center><a href="/top5">Back To Top5</a></center>
<div class="container" style="padding-top:20px">
<div class="row">
<div class="col-md-4">
<img src="<%= @bigstory.images.first.sourceurl %>" width="100%">
</div>
<div class="col-md-8">
	<p style="font-size:26px;letter-spacing:-1px;color:black;"><b><%= @bigstory.title %></b></p>
	<p style="font-size: 20px;">Mentioned in <%= @bigstory.feed_items.count %> news sources. </p>
					<br>


					<% unless @bigstory.breakingdate == nil or @bigstory.latestdate == nil %>					
					<% @bigstory.feed_items.each do |item| %>
					<div style="padding-bottom:10px;">
					<a href="<%= item.url %>" style="padding-bottom: 20px"><%= item.title %></a>
					<span style="font-size: 11px; color: gray; padding-top: 20px"><%= item.feedsource %></span>	
					<br>
				</div>
					<% end %>
					<% end %>

<!-- Inefficient trace code -->
<% if @tr == nil %>
<p style="color:gray;padding-top:10px;font-size:14px;">No Stories To Trace</p>
<% else %>
<% @tr.sort_by{|e| -e}.each do |t| %>
<% unless t == @bigstory.id %>
<% story = BigStory.where("id"=>t) %>
<p style="font-size:24px;letter-spacing:-1px;color:black;"><b><%= story.first.title %></b><br><%= story.first.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%m/%d/%Y %I:%M%P") %></p>
<% end %>
<% end %>
<% end %> 
</div>
