<% if @sortedall.empty? %>
There are currently no big news items.
<% else %>

<% @sortedall.each do |all| %>

<h4><a href="<%= all.first["url"] %>"><%= all.first["title"] %></a></h4>
<!-- <p><%= 
  unless all.first["published"].nil?
  time_ago_in_words(all.first["published"]) 
  end
  %> ago </p> -->
<p style="color: gray">Story mentioned by <%= all.count %> sources:</p>
<% all.each do |all| %>

<span style="color: gray"><%= all["bigstory"] %>&nbsp;&nbsp;<%= all["feedsource"] %></span>&nbsp;&nbsp;<a href="<%= all["url"] %>"><%= all["title"] %></a><br>


<% end %>
<br><br><br>
<% end %>
<% end %>