<% @bigstories.each do |story| %>
	<% unless story.feed_items.first == nil %>
		<div class="container">
			<div class="row" style="padding-bottom: 60px;">
				<div class="col-md-3">
					<% unless story.images.first == nil %>
					<img src="<%= story.images.first.sourceurl %>" width="260px" class="img-responsive" style="padding-top: 10px">
					<% end %>
				</div>


				<div class="col-md-9">
					<h4 style="font-size: 30px; line-height: 110%;"><%= story.title %></h4>
					<p style="font-size: 24px; padding-top: 5px;">Mentioned in <%= story.feed_items.count %> news sources. </p>
					
					<% unless story.breakingdate == nil or story.latestdate == nil %>
					<p style="color: gray;">First Broke: <%= story.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%m/%d/%Y %I:%M%P") %>&nbsp;PST</p>
					
					<% story.feed_items[0..5].each do |item| %>

					<a href="<%= item.url %>" style="padding-bottom: 10px"><%= item.title %> </a>
					<span style="font-size: 11px; color: gray; padding-top: 10px"><%= item.feedsource %></span>	
					<br>
					<% end %>
					<% end %>

					<% if story.feed_items.count > 5 %>

						<div class="panel-group" id="accordion">
						<div class="panel">
						
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= story.id %>">
						<p style="color:gray;font-size:14px;padding-top:5px;">...<%= story.feed_items.count - 5%> more sources</p>
						</a>
						</h4>
						</div>
						<div id="collapse<%= story.id %>" class="panel-collapse collapse">
						<div class="panel-body">

						<% story.feed_items[7..500].each do |item| %>

						<a href="<%= item.url %>" style="padding-bottom: 10px"><%= item.title %></a>
						<span style="font-size: 11px; color: gray; padding-top: 10px"><%= item.feedsource %></span><br>
						<% end %>
						</div>
						
						</div>
						</div>
					<% end %>
					
				</div>
			</div>
		</div>
	<% end %>
<% end %>






