<% @bigstories.each do |story| %>
<% unless story.feed_items.first == nil %>
<div class="container">
<div class="row" style="padding-bottom: 60px;">
<div class="span3">
	<% unless story.images.first == nil %>
	<img src="<%= story.images.first.sourceurl %>" width="200px" style="float:left; padding-right: 20px; padding-bottom: 60px;">
	<% end %>
</div>


<div class="span9">

	<h4 style="font-size: 30px"><%= story.feed_items.first.title %></h4>
	<p style="font-size: 24px; padding-top: 10px;">Mentioned in <%= story.feed_items.count %> news sources. </p>
	
	<% unless story.breakingdate == nil or story.latestdate == nil %>
	<p style="color: gray;">First Broke: <%= story.created_at.localtime.strftime("%m/%d/%Y %I:%M %P") %></p>
	
	<% story.feed_items[1..6].each do |item| %>

	<a href="<%= item.url %>"><%= item.title %></a><br>
	<span style="font-size: 11px; color: gray;"><%= item.feedsource %></span><br>
	<% end %>
	<% end %>
</div>	
</div>
<% end %>
<% end %>
