<% @bigstories.each do |story| %>
	<% unless story.feed_items.first == nil %>
		<div class="container">
			<div class="row" style="padding-bottom: 60px;">
				<div class="col-md-3">
					<% unless story.images.first == nil %>
					<img src="<%= story.images.first.sourceurl %>" width="260px" class="img-responsive" style="padding-top: 10px">
					<% end %>
				</div>


				<div class="col-md-9">
					<h4 style="font-size: 30px; line-height: 110%;"><%= story.feed_items.first.title %></h4>
					<p style="font-size: 24px; padding-top: 5px;">Mentioned in <%= story.feed_items.count %> news sources. </p>
					
					<% unless story.breakingdate == nil or story.latestdate == nil %>
					<p style="color: gray;">First Broke: <%= story.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%m/%d/%Y %I:%M%P") %>&nbsp;PST</p>
					
					<% story.feed_items[0..5].each do |item| %>

					<a href="<%= item.url %>" style="padding-bottom: 10px"><%= item.title %> </a>
					<span style="font-size: 11px; color: gray; padding-top: 10px"><%= item.feedsource %><%= item.created_at.localtime.strftime("%m/%d/%Y %I:%M %P") %></span>
					<br>
					<% end %>
					<% end %>
					
				</div>
			</div>
		</div>
	<% end %>
<% end %>



