<div class="container">
  <ul class="nav nav-tabs hidden-xs">
    <li>
    <%= link_to 'View Feed', feeds_path %>
    </li>
    <li>
    <%= link_to 'View Sources', sources_path %>
    </li>
    <li>
    <%= link_to 'Add a Source', new_source_path %>
    </li>
    <li>
    <%= link_to 'Source Report', sourcereport_path %>
    </li>
    <li>
    <%= link_to 'Top Stories', top_path %>
    </li>
  </ul>
  <ul class="nav nav-tabs visible-xs" style="background-color:#eaeaea; font-size: 16px">
   <center>Top News</center>
  </ul>

</div>

<% @finalgroups.each do |fg| %>

<% fg.each do |g| %>
<% story = BigStory.where("id"=>g).first %>
<%= story.title %>&nbsp;<i><span style="color:gray"><%= story.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%m/%d/%Y %I:%M%P") %></i><br>
<% end %>
<br>


<% end %>
<br><br>
<% @allbigs.each do |big| %>

<%= big.title %>&nbsp;&nbsp;<b><%= big.id %></b> <br>

<% end %>
