
<% @bigs.each do |big| %>

<h2>Edit Story Data</h2>

<% id = params[:id] %>
<% bullets = Bullet.where(:big_story_id => big.id) %>
<%= best_in_place big, :id %>
<h4><%= best_in_place big, :title, type: :textarea %></h4>
<br>
<%= best_in_place big, :description, type: :textarea %><br><br>

<% bullets.each do |bullet| %>
Bullet <%= best_in_place bullet, :rank %>: <%= best_in_place bullet, :content, type: :textarea %><br>
<% end %>
<br>

<%= best_in_place big, :imageurl, type: :textarea %><br>
<img src="<%= big.imageurl %>" width="200px"/><br>


<h4>Published <span style="color:red;font-size:24px;"><%= best_in_place big, :published %></span></h4>

<% end %>