
<br><br>
<div class="container">
	<a href= "/unpublished" style="color:blue">View Unpublished</a>
</div>

<h2>Published:&nbsp;&nbsp;&nbsp;<%= best_in_place @story, :published %></h2>
<div class="container">
	<div class="col-md-4">


 <h2>Big Story:</h2>
<b>Title:</b> <%= best_in_place @story, :title %><br>
<b>Mentions:</b> <%= @story.feed_items.count %><br>
<b>Description</b> <%= best_in_place @story, :description %><br>
<b>Image</b> <%= best_in_place @story, :imageurl %><br>
<img src="<%= @story.imageurl %>" width="200px"/><br>
<b>Score</b> <%= best_in_place @story, :score %><br>
<b>ID</b> <%= best_in_place @story, :id %><br>
<br>
</div>
<div class="col-md-6">
	<a href="/fetch/<%= @story.id %>" style="color:blue">fetch images and descriptions</a>
 <h2> Feed Items In Story: </h2><br><br>
<% @story.feed_items.each do |feed| %>

Title: <%= feed.title %><br>
Image: <%= feed.imageurl %><br>
<img src ="<%= feed.imageurl %>" width="200px"/><br>
Desc: <%= feed.desc %><br>

<br><br>
<% end %>

	</div>
</div>