<br><br>
<center>
	<a href="/unpublished" style="color:blue">Back to Unpublished Queue</a><br><br>
</center>

<a id="story"></a>
<h2>Edit Story Data</h2>


<% id = params[:id] %>
<% big = BigStory.where(:id => id).first %>
<% bullets = Bullet.where(:big_story_id => big.id) %>
<%= best_in_place big, :id %>
<h4><%= best_in_place big, :title, type: :textarea %></h4>
<br>
<%= best_in_place big, :description, type: :textarea %><br><br>

<% bullets.each do |bullet| %>
Bullet <%= best_in_place bullet, :rank %>: <%= best_in_place bullet, :content, type: :textarea %><br>
<% end %>
<br>

<%= best_in_place big, :imageurl, type: :textarea %><br>
<img src="<%= big.imageurl %>" width="200px"/><br>


<h4>Published <span style="color:red;font-size:24px;"><%= best_in_place big, :published %></span></h4>
<a href="/admin/details/<%= big.id %>" style="color:blue"> </a>
<br><br>
<a id="images"></a>
<h2>Images/Descriptions</h2>
<h4>Images to use:</h4>
<table>
<% @images.each do |img| %>
<tr>
<td>
<img src="<%= img %>" width="100px"/>
</td>
<td>
<span style="font-size:10px;"><%= img %></span>	
</td>
</tr>
<% end %>
</table>
<h4>Descriptions to use:</h4>
 
<% @descriptions.each do |desc| %>
<%= desc %><br><br>
<% end %>
<a id="change"></a>

<h2>Change or remove feed items</h2>
<a href="/big_stories/new" target="blank">Create new Big Story</a><br> 


<a data-toggle="collapse" data-parent="#accordion" href="#collapse">Look at current Big Stories</a><br><br>

<div id="collapse" class="panel-collapse collapse">

<% @bigs.each do |big| %><br>
<b><%= big.id %></b> - <%= big.title %>
<% end %>
<br><br>
</div>




<br><br>

<% big.feed_items.each do |feed| %>
<a href="<%= feed.url %>"><%= feed.title %></a><br>
<div style="width:100px;height:15px;margin-top:5px; margin-bottom:10px">
<%= best_in_place feed, :big_story_id %>
</div><br><br>
<% end %>



