<div class="container">
<h2>Last 100 based on score</h2>
Stuff that needs doin: <a href="/bulletfix" style="color:blue">Bullets To Fix</a> | <a href="/unpublished" style="color:blue">Unpublished Queue</A>
	<br><br>
<% @bigs.each do |big| %>

<% bullets = Bullet.where(:big_story_id => big.id).order("rank ASC") %>
<b>Title:</b> <%= best_in_place big, :title %><br>
<b>Mentions:</b> <%= big.feed_items.count %><br>
<img src="<%= big.imageurl %>" width="200px"/><br>
<b>Created_at</b> <%= big.created_at %><br>
<b>Score</b> <%= best_in_place big, :score %><br>
<b>ID</b> <%= best_in_place big, :id %><br>
<% bullets.each do |bullet| %>
<b>Bullet <%= best_in_place bullet, :rank %></b> - <%= best_in_place bullet, :content %><br>	
<% end %>
<b>Published</b> <%= best_in_place big, :published %><br>
<a href="/admin/details/<%= big.id %>" style="color:blue">edit details </a><br>

<br>

<% end %>
</div>
